@charset "utf-8";

#wrap {}

/* header영역 */
#header {}

.head_inner {
    width: 1164px;
    margin: 0 auto;
}

.h_top {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    /* border: 1px solid red; */
}

.h_top .logo {}

.h_top .logo a {
    display: block;
    width: 172px;
    height: 46px;
    background: url("../images/log_nor1.png") no-repeat;
    text-indent: -9999px;
}

.util {
    display: flex;
}

.util>li {}

.util>li>a {
    display: block;
    font-size: 12px;
    color: #555;
    line-height: 28px;
    /* border: 1px solid red; */
}

.util>li:hover>a {
    color: red;
}

.util_log,
.util_join,
.util_myca {
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
}

.util_log,
.util_join {
    background: url("../images/bar_main_util_top.png") no-repeat right center
}

.util_myca {
    position: relative;
}

.util_myca>a {
    /* border: 1px solid black; */
    background: url("../images/ico_down01.gif") no-repeat right center;
    padding-right: 15px;
}

.util_myca:hover>a {
    background: url("../images/ico_up01.gif") no-repeat right center;
}

.util_myca .my {
    position: absolute;
    width: 120px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    z-index: 100;
    display: none;
}

.util_myca .my li {
    padding: 5px 0;
}

.util_myca .my li a {
    display: block;
    font-size: 12px;
}

.util_regist {
    margin-left: 10px;
}

.util_regist a {
    display: block;
    background: #f15b63;
    color: white !important;
    line-height: 28px;
    padding: 0 8px;
}

.util_sns {
    margin-left: 10px;
}

.util_sns a {
    display: block;
    width: 192px;
    height: 28px;
    background: url("../images/sns4.png") no-repeat;
    text-indent: -9999px;
}

.util_search {
    margin-left: 10px;
}

.util_search input {
    display: block;
    width: 125px;
    height: 28px;
    border: 1px solid #ddd;
    background: url("../images/util_seh.png") no-repeat 5px center;
}

.util_site {
    margin-left: 10px;
}

.util_site a {
    display: block;
    line-height: 28px;
    padding: 0 30px 0 20px;
    background: #888 url("../images/icon_casite.png") no-repeat 90px -10px;
    color: white !important;
}

.util_site:hover a {
    background: #3f3f3f url("../images/icon_casite.png") no-repeat 90px 10px;
}

/* h_bottom 영역 */

.h_bottom {
    display: flex;
    justify-content: space-between;    
}

.gnb {
    display: flex;
}

.gnb>li {}

.gnb>li>a {
    display: block;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 20px;
}

.gnb>li:hover>a {
    color: #de2b13;
}

.gnb>li>a .e_img {
    display: inline-block;
    width: 10px;
    height: 12px;
    background: url("../images/gnb_e_nor.png") no-repeat;
    text-indent: -9999px;
    vertical-align: bottom;
    padding-right: 10px;

}
.gnb>li:hover>a .e_img{
    background: url("../images/gnb_e_nor_hov.png") no-repeat;
}
.gnb_p{
    position: relative;
}
.d_wrap{
    position: absolute;
    width: 1164px;
    background-color: #f1f1f1;
    /* padding: 15px 15px 30px  ; */
    padding: 0  ;
    z-index: 100;
    display: flex;      
    height: 0px;
    overflow: hidden;
}



.g_banner{}
.g_banner li:last-child{
    margin-top: 15px;
}


.g_depth{
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.g_depth li{
    width: calc(100% / 5);
    height: 100px;
    text-align: center;
    /* border: 1px solid red; */

}

.g_depth li a{
    display: block;
    height: 100px;
    padding-top: 20px; 
    position: relative;   
}
.g_depth li:hover a{
    border-bottom: 1px solid #de2b13;
}
.g_depth li a img{}

.g_depth li a p{
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
}





/* g_gallery  영역 */
.g_gallery {
    display: flex;
}
.g_gallery  li{}
.g_gallery  li a{
    display: block;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 20px;

}
.g_gallery  li:hover a{
    color: #de2b13;
}
.g_gallery  li  span{
    display: inline-block;
    width: 30px;
    height: 23px;
    vertical-align: baseline;    
    text-indent: -9999px;
    margin: 5px 8px;
    /* border: 1px solid red; */
}
.g_gallery  li.g_p  span{
    background: url("../images/gnb2_calgal2.png") no-repeat ;
}
.g_gallery  li.g_c  span{
    background: url("../images/gnb2_gall2.png") no-repeat;
}
.g_gallery  li.g_m  span{
    background: url("../images/gnb2_maga2.png") no-repeat;
}
.g_gallery  li.g_a  span{
    background: url("../images/gnb2_acad2.png") no-repeat;
}
